/****************************************************************************


simul.rc

produced by Borland Resource Workshop


*****************************************************************************/


#define IDC_STATICTEXT1	103
#define IDC_GROUPBOX1	101
#define IDC_EDIT1	101


DIALOG_2 DIALOG 6, 15, 150, 100
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "About Crack"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH , SUBLANG_ENGLISH_US
{
 CONTROL "About", IDC_GROUPBOX1, "button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 0, 140, 97
 CONTROL "Crack By Madhur", -1, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 14, 61, 13
 CONTROL "madhur_ahuja@yahoo.com", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 29, 40, 92, 12
 CONTROL "OK", 103, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 76, 47, 13
 CONTROL "Written in Win32 Assembly", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 30, 60, 89, 15
}




LANGUAGE LANG_NEUTRAL,SUBLANG_NEUTRAL

ICON1 ICON EDITPLUS.ICO
LANGUAGE LANG_ENGLISH,SUBLANG_ENGLISH_US



DIALOG_3 DIALOGEX 0, 0, 223, 151
EXSTYLE WS_EX_CONTROLPARENT | WS_EX_CLIENTEDGE
STYLE DS_ABSALIGN | DS_SYSMODAL | DS_3DLOOK | DS_CENTER | 0x200L | WS_POPUP | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "EditPlus Crack By Madhur"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_ENGLISH , SUBLANG_ENGLISH_US
{
 CONTROL "", 101, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP, 4, 112, 212, 32
 CONTROL "&Crackit!", 1, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 12, 124, 60, 14, WS_EX_NOPARENTNOTIFY
 CONTROL "E&xit", 2, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 156, 124, 50, 14, WS_EX_NOPARENTNOTIFY
 CONTROL "&About", 102, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 124, 50, 14, WS_EX_NOPARENTNOTIFY
 CONTROL "Edit2", 105, "EDIT", ES_CENTER | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP | WS_TABSTOP, 8, 8, 208, 76, WS_EX_NOPARENTNOTIFY | WS_EX_LEFTSCROLLBAR
 CONTROL "Edit Plus Crack By MAdhur", IDC_STATICTEXT1, "static", SS_CENTER | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 24, 92, 172, 12
}


