/****************************************************************************


memcrack.RC

produced by Borland Resource Workshop


*****************************************************************************/


#define IDC_STATICTEXT4	105
#define IDC_STATICTEXT3	103
#define IDC_NAME	104
#define IDC_EDIT2	104
#define IDC_EDIT1	103
#define IDC_STATICTEXT2	102
#define IDC_STATICTEXT1	101
#define IDABOUT	2
#define IDEXIT	1

IDD_DIALOG1 DIALOGEX 0, 0, 197, 105
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_STATICEDGE | WS_EX_TOOLWINDOW
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_OVERLAPPED | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Keygen for MemoryAnalyst 1.01"
FONT 9, "MS Sans Serif", 400, 0
{
 CONTROL "Exit", IDEXIT, "BUTTON", BS_DEFPUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 28, 84, 50, 14
 CONTROL "About", IDABOUT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 84, 50, 14
 CONTROL "Password:", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 40, 80, 13
 CONTROL "Enter your Name:", IDC_STATICTEXT2, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 14, 80, 13
 CONTROL "", IDC_NAME, "edit", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 92, 12, 84, 13
 CONTROL "Text3", IDC_STATICTEXT3, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 92, 35, 84, 14
 CONTROL "Memory Analyst Keygen By Madhur", IDC_STATICTEXT4, "static", SS_CENTER | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 24, 61, 144, 13
}

ICON1 ICON ma.ico

DIALOG_2 DIALOG 6, 15, 146, 95
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "About Keygen"
FONT 8, "MS Sans Serif"
{
 CONTROL "Keygen By Madhur Ahuja", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 7, 14, 123, 13
 CONTROL "madhur_ahuja@yahoo.com", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 39, 136, 17
 CONTROL "OK", 103, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 76, 47, 13
 CONTROL "Written in Win32 Assembly", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 58, 128, 15
}

