/****************************************************************************


winzip1.rc

produced by Borland Resource Workshop


*****************************************************************************/


DIALOG_1 DIALOG 6, 15, 167, 96
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_CONTROLPARENT | WS_EX_TOOLWINDOW
STYLE DS_SYSMODAL | DS_MODALFRAME | DS_CENTER | 0x200L | WS_POPUP | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU
CAPTION "Winzip keygenerator"
FONT 8, "MS Sans Serif"
{
 CONTROL "Enter Name", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 11, 14, 44, 15
 CONTROL "Registration number", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 35, 70, 15
 CONTROL "", 101, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 87, 14, 68, 12
 CONTROL "About", 1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 26, 80, 50, 14
 CONTROL "Exit", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 80, 48, 14
 CONTROL "", 102, "STATIC", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 86, 33, 69, 13
 CONTROL "WinZip keygen By Madhur", 10, "STATIC", SS_CENTER | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 55, 141, 14
}


DIALOG_2 DIALOG 6, 15, 146, 95
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "About Keygen"
FONT 8, "MS Sans Serif"
{
 CONTROL "Keygen By Madhur Ahuja", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 7, 14, 123, 13
 CONTROL "madhur_ahuja@yahoo.com", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 39, 136, 17
 CONTROL "OK", 103, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 76, 47, 13
 CONTROL "Written in Win32 Assembly", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 58, 128, 15
}

IDI_ICON1 ICON vrmlpad.ico
