/****************************************************************************


TEMPLATE.RC

produced by Borland Resource Workshop


*****************************************************************************/



#define IDC_STATICTEXT1	101
#define IDC_ABOUT	101
#define IDEXIT	9

IDD_MAIN DIALOGEX 0, 0, 240, 120
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION ""
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 32, 100, 50, 14
 CONTROL "Exit", IDEXIT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 100, 50, 14
 CONTROL "About", IDC_ABOUT, "button", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 100, 50, 14
}


IDD_ABOUT DIALOG 0, 0, 195, 96
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOOLWINDOW
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About..."
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 76, 50, 14
 CONTROL "", IDC_STATIC, "BUTTON", BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 7, 188, 65
 CONTROL "Program v 1.0 ", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 15, 83, 10
 CONTROL "Written in Win32 Assembly by Madhur", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 28, 127, 10
 CONTROL "madhur_ahuja@yahoo.com", IDC_STATIC, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 44, 93, 10
 CONTROL "", IDC_STATIC, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 8, 16, 21, 20
 CONTROL "http://www.geocities.com/madhur_ahuja", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 56, 132, 10
}

IDCMAIL                 BITMAP  DISCARDABLE     "EMAILCOL.BMP"
IDMAIL                  BITMAP  DISCARDABLE     "emailgrey.bmp"
IDCHOUSE                BITMAP  DISCARDABLE     "HOUSECOL.BMP"
IDHOUSE                 BITMAP  DISCARDABLE     "housegrey.bmp"