;-------------------------------------------------------------------
;			mmf1.rc (Compile using brcc32)
;-------------------------------------------------------------------

#define IDD_DIALOG1                     101
#define IDI_ICON1                       102
#define IDC_BUTTON1                     1000
#define IDC_BUTTON2                     1001
#define IDC_EDIT1                       1002
#define IDC_STATIC                      -1

IDD_DIALOG1 DIALOG DISCARDABLE  0, 0, 188, 94
STYLE DS_3DLOOK | DS_CENTER | WS_POPUP | WS_CAPTION | WS_THICKFRAME
CAPTION "MMF Sharing Data - (c) Aesculapius"
FONT 8, "MS Sans Serif"
BEGIN
    PUSHBUTTON      "Exit",IDCANCEL,68,73,50,14
    PUSHBUTTON      "Store Data",IDC_BUTTON1,7,52,76,17
    PUSHBUTTON      "Retrieve Data",IDC_BUTTON2,105,52,76,17
    EDITTEXT        IDC_EDIT1,34,33,118,12,ES_AUTOHSCROLL
    LTEXT           "Type Data Here:",IDC_STATIC,66,21,54,8
    ICON            IDI_ICON1,IDC_STATIC,7,7,21,20
END
IDI_ICON1               ICON    DISCARDABLE     "icon1.ico"
