/****************************************************************************


pipes.RC

produced by Borland Resource Workshop


*****************************************************************************/

#define IDEXIT	2

IDD_DIALOG1 DIALOGEX 0, 0, 390, 151
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "CONSOLE PIPE"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 120, 50, 14
 CONTROL "exit", IDEXIT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 120, 50, 14
}

