/****************************************************************************


pipes.RC

produced by Borland Resource Workshop


*****************************************************************************/


#define IDC_STATUS1	102
#define IDC_STATICTEXT3	104
#define IDC_STATICTEXT2	103
#define IDC_STATICTEXT1	102
#define IDC_STATUS	101

IDD_DIALOG1 DIALOGEX 0, 0, 239, 151
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
CAPTION "CONSOLE PIPE"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 80, 120, 50, 14
 CONTROL "Text1", IDC_STATUS, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 32, 48, 72, 28
 CONTROL "Text1", IDC_STATUS1, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 116, 48, 72, 28
 CONTROL "LPARAM", IDC_STATICTEXT2, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 116, 32, 72, 12
 CONTROL "WPARAM", IDC_STATICTEXT3, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 32, 33, 72, 12
}

ICON1 ICON SIMUL.ICO