/****************************************************************************


revealer.RC

produced by Borland Resource Workshop


*****************************************************************************/



#define IDC_STATUS	101
#define IDC_STATICBITMAP2	101
#define IDC_STATICTEXT1  200
#define IDC_STATICTEXT4  201
#define IDC_STATICTEXT2  202
#define IDC_STATICTEXT3  203
#define IDC_STATICFRAME1 204
#define IDC_STATICBITMAP1	104
#define IDC_PASSWORD	101
#define IDEXIT	2
#define IDABOUT	9
//#define IDB_RED 25
//#defien IDB_GREEN 26

IDD_DIALOG1 DIALOGEX 0, 0, 218, 51
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_TOPMOST
STYLE DS_ABSALIGN | DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "Password Revealer"
FONT 8, "Tahoma", 400, 0
{
 CONTROL "E&xit", IDEXIT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 48, 28, 50, 14
 CONTROL "&About", IDABOUT, "BUTTON", BS_PUSHBUTTON | BS_CENTER | BS_FLAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 28, 50, 14
 CONTROL "Edit1", IDC_STATUS, "edit", ES_LEFT | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 64, 8, 124, 13, WS_EX_NOPARENTNOTIFY
 CONTROL "Hidden Text:", IDC_STATICTEXT1, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 12, 12, 44, 9
}


IDD_DIALOG2 DIALOG 0, 0, 186, 100
STYLE DS_3DLOOK | DS_CENTER | DS_CENTERMOUSE | 0x200L | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "About Password Revealer"
FONT 8, "MS Sans Serif"
{
 CONTROL "OK", IDOK, "BUTTON", BS_PUSHBUTTON | BS_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 76, 44, 14
 CONTROL "PR By Madhur Ahuja", IDC_STATICTEXT3, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_BORDER, 64, 20, 100, 13
 CONTROL "madhur_ahuja@yahoo.com", IDC_STATICTEXT2, "static", SS_LEFT | SS_SUNKEN | WS_CHILD | WS_VISIBLE, 64, 56, 100, 13
 CONTROL "Mail any bug reports to:", IDC_STATICTEXT4, "static", SS_LEFT | WS_CHILD | WS_VISIBLE, 64, 39, 104, 14
 CONTROL "Frame2", IDC_STATICFRAME1, "static", SS_ETCHEDFRAME | WS_CHILD | WS_VISIBLE, 3, 5, 180, 91
 CONTROL "mainicon", IDC_STATICBITMAP2, "static", SS_ICON | WS_CHILD | WS_VISIBLE, 20, 20, 21, 20
}




MAINICON icon Secur08.ico
