<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
<servlet>
        <servlet-name>initial</servlet-name>
        <servlet-class>initial</servlet-class>
 </servlet>
 <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
 </servlet>
    <servlet-mapping>
        <servlet-name>initial</servlet-name>
        <url-pattern>/servlet/initial</url-pattern>
    </servlet-mapping>
      <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/servlet/register</url-pattern>
    </servlet-mapping>
  </web-app>